*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url('https://th.bing.com/th/id/OIP.gw23gi_lMMZpXIUD-ZmwiwHaEo?pid=ImgDet&rs=1'); */
    background-image: linear-gradient(purple, blue);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: whitesmoke;
    margin: 0 2rem;
    /* opacity: 0.4; */
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 2rem;
    padding: 5rem;
    grid-gap: 1.5rem;
}

.cards{
    opacity: none;
    z-index: 2;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 1px 4px 8px 8px rgb(192, 187, 187);
    padding: 1rem;
}

.cards:hover{
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: none;
}

h3{
    color:brown;
}

a:link{
    text-decoration: none;
}